<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="$(find fckwv1_description)/urdf/fckwv1.xacro" />
    <xacro:include filename="$(find fckwv1_description)/urdf/materials.xacro" />
    <!-- <xacro:include filename="$(find fckwv1_description)/urdf/fckwv1.trans" /> -->

</robot>
